{% extends "app.html" %}

{% block body %}
<body class="page page-id-13 page-template page-template-template-about page-template-template-about-php about">


<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function(){ var widget_id = 'tx9c9yoAX1';var d=document;var w=window;function l(){
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
<div id="nav_bar" style="float: right;position: absolute;right: 0px;background-color: #0d032c!important;">
    <a class="logo" rel="index" href="http://suntos.com.np/">
        <img
                src="./Views/fill_animantion_files/ss.png"
                alt="Wordpress Developer Logo, Web Developer Logo , Front End Developer Logo">
        <img
                src="./Views/fill_animantion_files/ss_sub.png" alt="Wordpress Developer, Web Developer , Front End Developer">
    </a>
    <nav class="en">
        <a rel="index" href="http://suntos.com.np/" class="home-link active"><i
                class="fa fa-home fa-lg"></i></a>
        <a rel="about" href="http://suntos.com.np/about" class=""><i
                class="fa fa-user-md fa-lg"></i></a>
        <a rel="skills" href="http://suntos.com.np/skills" class=""><i
                class="fa fa-cog fa-lg"></i></a>
        <a rel="gallery" href="http://suntos.com.np/portfolio" class=""><i
                class="fa fa-eye fa-lg"></i></a>
        <a rel="contact" href="http://suntos.com.np/contact" class=""><i
                class="fa fa-phone fa-lg"></i></a>
    </nav>
    <ul>
        <li><a href="https://twitter.com/IMSdahal" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/Crackwebsite/" target="_blank"><i
                class="fa fa-facebook"></i></a></li>
        <li><a href="http://suntos.com.np/feed/" target="_blank"><i class="fa fa-rss"></i></a></li>
    </ul>
    <a id="mobile-link" href="http://suntos.com.np/"><i class="fa fa-bars"></i></a>
</div>
<div id="page" class="en" style="background-color: #150250;">
    <div class="container  about" style="opacity: 1"><span class="tags top-tags"> &nbsp;&nbsp;&nbsp;&lt;body&gt;</span>
        <div class="text-zone"><h1> About me</h1>
            <p>एक थोक जस्ले तिमीलाइ असाधारण बनाउछ,यदि तिमी साच्चिकै त्यो हौ भने; हो त्यहि कुराले तिमीलाइ, जरुर, एक्लो पनि बनाउने छ</p>

            <p>Everything starts as a dream, a thought, a mental image to learn technology. It all started when i was in five class and  my school started computer subject from that year.
                I must be thankful to my computer teacher because without good start i would not be able to came so far
            </p>
            <p> In 2016 I got my first commercial work
                as a backend developer in Dreamsys located in Pokhara.</p>

            <p>My First officially and commercialy launched project was  <a href="https://bloodinemergency.com/"
                                                                            target="_blank">EBlood</a> </p>
            <p>Rest of my experience is successfull cooperatiion as a freelencer with IT companies and professionals
                from Pokhara.</p>
            <p>Right now I am Electronics Engineering student at  <a href="https://wrc,edu.mp/"
                                                                 target="_blank">PASCHIMANCHAL CAMPUS</a> and trying to collaborate between hardware and software</p>
            <p>&nbsp;</p> <img style="max-width:95%;margin-top: 40px;"
                               src="https://jacekjeznach.com/wp-content/themes/jj/img/timeline.png" alt=""/>
            <div class="clear"></div>
        </div>
        <div class="sound-cloud">
            <img src="./Views/fill_animantion_files/profile.gif"
                 alt="Wordpress Developer Loader, Web Developer Loader , Front End Developer Loader"/>
        </div>
        <span class="tags bottom-tags"> &nbsp;&nbsp;&nbsp;&lt;/body&gt;<br/> &lt;/html&gt; </span></div>
</div>

<a class="blog-link" style="position: absolute;height: 50px;left: 0px;width: 100px;background-color: #150250;z-index: 99999 !important" href="http://suntos.com.np/wall/">

     </a>
<div id="rotate"></div>

<div id="cboxOverlay" style="display: none;"></div>
<div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
    <div id="cboxWrapper">
        <div>
            <div id="cboxTopLeft" style="float: left;"></div>
            <div id="cboxTopCenter" style="float: left;"></div>
            <div id="cboxTopRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxMiddleLeft" style="float: left;"></div>
            <div id="cboxContent" style="float: left;">
                <div id="cboxTitle" style="float: left;"></div>
                <div id="cboxCurrent" style="float: left;"></div>
                <button type="button" id="cboxPrevious"></button>
                <button type="button" id="cboxNext"></button>
                <button id="cboxSlideshow"></button>
                <div id="cboxLoadingOverlay" style="float: left;"></div>
                <div id="cboxLoadingGraphic" style="float: left;"></div>
            </div>
            <div id="cboxMiddleRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxBottomLeft" style="float: left;"></div>
            <div id="cboxBottomCenter" style="float: left;"></div>
            <div id="cboxBottomRight" style="float: left;"></div>
        </div>
    </div>
    <div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div>
</div>
</body>
{% endblock %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="./Views/fill_animantion_files/snap.svg-min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/blast.js"></script>
<script>
    $(".about h1").blast({delimiter: "character", tag: "span"});
    $(".about p").blast({delimiter: "word", tag: "span"});
    a = 0;
    $(".about h1 .blast").each(function () {
        var el = $(this);
        setTimeout(function () {
            el.addClass('animated bounceIn');
        }, a);
        a = a + 100;
    });


    setTimeout(function () {
        $(".about .blast").removeClass('animated bounceIn');
        $(".about .blast").css('opacity', 1);
        $(".about .blast").mouseenter(function () {
            var el = $(this);
            $(this).addClass('animated rubberBand');
            $(this).one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                el.removeClass('animated rubberBand');
            });
        });
    }, 1000);

</script>
{% endblock %}
