{% extends "app.html" %}

{% block body %}
<body class="page page-id-13 page-template page-template-template-about page-template-template-about-php about">


<div id="nav_bar" style="float: right;position: absolute;right: 0px;background-color: #0d032c!important;">
    <a class="logo" rel="index" href="http://suntos.com.np/">
        <img
                src="./Views/fill_animantion_files/ss.png"
                alt="Wordpress Developer Logo, Web Developer Logo , Front End Developer Logo">
        <img
                src="./Views/fill_animantion_files/ss_sub.png" alt="Wordpress Developer, Web Developer , Front End Developer">
    </a>
    <nav class="en">
        <a rel="index" href="http://suntos.com.np/" class="home-link active"><i
                class="fa fa-home fa-lg"></i></a>
        <a rel="about" href="http://suntos.com.np/about" class=""><i
                class="fa fa-user-md fa-lg"></i></a>
        <a rel="skills" href="http://suntos.com.np/skills" class=""><i
                class="fa fa-cog fa-lg"></i></a>
        <a rel="gallery" href="http://suntos.com.np/portfolio" class=""><i
                class="fa fa-eye fa-lg"></i></a>
        <a rel="contact" href="http://suntos.com.np/contact" class=""><i
                class="fa fa-phone fa-lg"></i></a>
    </nav>
    <ul>
        <li><a href="https://twitter.com/IMSdahal" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/Crackwebsite/" target="_blank"><i
                class="fa fa-facebook"></i></a></li>
        <li><a href="http://suntos.com.np/feed/" target="_blank"><i class="fa fa-rss"></i></a></li>
    </ul>
    <a id="mobile-link" href="http://suntos.com.np/"><i class="fa fa-bars"></i></a>
</div>

<div id="page" class="en"  style="background-color: #150250;">
    <div class="container contact" style="opacity: 1"><span class="tags top-tags"> &nbsp;&nbsp;&nbsp;&lt;body&gt;</span>
        <div class="inf-map" style="background-color: #150250;"> Snatosh dahal,<br/> WRC Boys <Hostel></Hostel><br/> Pokhara , Nepal
            <br/><br/><span><span>@</span>:webtutor2016@gmail.com</span>
        </div>
        <div class="map-wrap">
            <div id="map"></div>
        </div>
        <div class="text-zone"><h1> Contact me</h1>
            <p>If you have any questions, please don&#8217;t hesitate to contact using form below&#8230;</p>
            <div class="contact-form">
                <form id="contact" autocomplete="off">
                    <ul>
                        <li class="half"><input  style="background-color: white"  class="input__field input__field--hoshi" placeholder="Name" type="text"
                                                name="name"/> <label
                                class="input__label input__label--hoshi input__label--hoshi-color-2"></label></li>
                        <li class="half"><input style="background-color: white" class="input__field input__field--hoshi" placeholder="Email"
                                                type="email" name="email"/> <label
                                class="input__label input__label--hoshi input__label--hoshi-color-1"></label></li>
                        <li><input  style="background-color: white"  class="input__field input__field--hoshi" placeholder="Subject" type="text"
                                   name="subject"/> <label
                                class="input__label input__label--hoshi input__label--hoshi-color-2"></label></li>
                        <li><textarea  style="background-color: white"  class="input__field input__field--hoshi" placeholder="Message"
                                      name="msg"></textarea><label
                                class="input__label input__label--hoshi input__label--hoshi-color-2"></label></li>
                        <li class="submit"><input  id="submit" type="submit" class="flat-button" value="SEND"/></li>
                    </ul>
                </form>
            </div>
        </div>

        <span class="tags bottom-tags"> &nbsp;&nbsp;&nbsp;&lt;/body&gt;<br/> &lt;/html&gt; </span></div>
</div>
<div id="vide"
     style="width: 100%; height: 100%; position:fixed;top:0;left:0;right:0;bottom:0;z-index:-1;opacity:0.02;"></div>
<div class="preloader">
    <div class="inner"><img src="https://jacekjeznach.com/wp-content/themes/jj/img/logopreload.png"
                            alt="Wordpress Developer Loader, Web Developer Loader , Front End Developer Loader"/> <span>Jack is thinking</span>
        <div class="progress-bar">
            <div class="progress-bar_bg">
                <div></div>
            </div>
        </div>
    </div>
</div>

<a class="blog-link" style="position: absolute;left: 0px;width: 100px;background-color: #150250;z-index: 99999 !important;height: 50px;" href="http://suntos.com.np/wall/">

     </a>
<div id="rotate"></div>

<div id="cboxOverlay" style="display: none;"></div>
<div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
    <div id="cboxWrapper">
        <div>
            <div id="cboxTopLeft" style="float: left;"></div>
            <div id="cboxTopCenter" style="float: left;"></div>
            <div id="cboxTopRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxMiddleLeft" style="float: left;"></div>
            <div id="cboxContent" style="float: left;">
                <div id="cboxTitle" style="float: left;"></div>
                <div id="cboxCurrent" style="float: left;"></div>
                <button type="button" id="cboxPrevious"></button>
                <button type="button" id="cboxNext"></button>
                <button id="cboxSlideshow"></button>
                <div id="cboxLoadingOverlay" style="float: left;"></div>
                <div id="cboxLoadingGraphic" style="float: left;"></div>
            </div>
            <div id="cboxMiddleRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxBottomLeft" style="float: left;"></div>
            <div id="cboxBottomCenter" style="float: left;"></div>
            <div id="cboxBottomRight" style="float: left;"></div>
        </div>
    </div>
    <div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div>
</div>
</body>
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script src="./Views/fill_animantion_files/snap.svg-min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/blast.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&key=AIzaSyAkoyaoA_J7HqmEPbhmgIcq_5ReFWV96pg"></script>
<script>
    function validateEmail(email) {
        var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        return re.test(email);
    }

    $(".contact h1").blast({delimiter: "character", tag: "span"});
    a = 0;
    $(".contact .blast").each(function () {
        var el = $(this);
        setTimeout(function () {
            el.addClass('animated bounceIn');
        }, a);
        a = a + 100;
    });
    setTimeout(function () {
        $(".contact .blast").removeClass('animated bounceIn');
        $(".contact .blast").css('opacity', 1);
        $(".contact .blast").mouseenter(function () {
            var el = $(this);
            $(this).addClass('animated rubberBand');
            $(this).one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                el.removeClass('animated rubberBand');
            });
        });
    }, 1000);
    b = 300;
    $(".contact li").each(function () {
        var el = $(this);
        setTimeout(function () {
            el.addClass('animated fadeInUp');
        }, b);
        b = b + 100;
    });
    $('#submit').click(function () {
        if ($('input[type=email]').val() == '' || !validateEmail($('input[type=email]').val())) {
            $('input[type=email]').parent().addClass('required');
        } else {
            $('input[type=email]').parent().removeClass('required');
        }
        if ($('textarea').val() == '') {
            $('textarea').parent().addClass('required');
        } else {
            $('textarea').parent().removeClass('required');
        }
        if ($('.contact-form .required').size() > 0) {

        } else {

            $.post(path + "mail.php", $("#contact").serialize(), function (data) {
                if (data == '11') {
                    $('.contact-form .required').removeClass('required');
                    $('.contact-form input[type="text"],.contact-form input[type="email"],.contact-form textarea').val('');
                } else {
                    $('.contact-form .required').removeClass('required');
                    $('.contact-form input[type="text"],.contact-form input[type="email"],.contact-form textarea').val('');
                }
            });
        }
        return false;
    });
    $('.contact-form input, .contact-form textarea').keyup(function () {
        if ($('input[type=email]').val() == '' || !validateEmail($('input[type=email]').val())) {
            $('input[type=email]').parent().addClass('required');
        } else {
            $('input[type=email]').parent().removeClass('required');
        }
        if ($('textarea').val() == '') {
            $('textarea').parent().addClass('required');
        } else {
            $('textarea').parent().removeClass('required');
        }
    });

    var mapOptions = {center: new google.maps.LatLng(28.252585, 83.975490), zoom: 5, disableDefaultUI: true};
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    if ($('body').hasClass('white')) {
        var styles = [{
            "featureType": "landscape",
            "stylers": [{"saturation": -100}, {"lightness": 65}, {"visibility": "on"}]
        }, {
            "featureType": "poi",
            "stylers": [{"saturation": -100}, {"lightness": 51}, {"visibility": "simplified"}]
        }, {
            "featureType": "road.highway",
            "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
        }, {
            "featureType": "road.arterial",
            "stylers": [{"saturation": -100}, {"lightness": 30}, {"visibility": "on"}]
        }, {
            "featureType": "road.local",
            "stylers": [{"saturation": -100}, {"lightness": 40}, {"visibility": "on"}]
        }, {
            "featureType": "transit",
            "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
        }, {"featureType": "administrative.province", "stylers": [{"visibility": "off"}]}, {
            "featureType": "water",
            "elementType": "labels",
            "stylers": [{"visibility": "on"}, {"lightness": -25}, {"saturation": -100}]
        }, {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [{"hue": "#ffff00"}, {"lightness": -25}, {"saturation": -97}]
        }];
    } else {
        var styles = [{
            "featureType": "all",
            "elementType": "labels.text.fill",
            "stylers": [{"color": "#ffffff"}]
        }, {
            "featureType": "all",
            "elementType": "labels.text.stroke",
            "stylers": [{"visibility": "off"}]
        }, {
            "featureType": "administrative",
            "elementType": "geometry",
            "stylers": [{"visibility": "on"}, {"color": "#012621"}, {"weight": 0.8}]
        }, {
            "featureType": "administrative.country",
            "elementType": "labels",
            "stylers": [{"color": "#012621"}]
        }, {
            "featureType": "administrative.country",
            "elementType": "labels.text",
            "stylers": [{"color": "#150250"}]
        }, {
            "featureType": "administrative.province",
            "elementType": "labels.text",
            "stylers": [{"color": "#012621"}]
        }, {
            "featureType": "administrative.locality",
            "elementType": "labels.text",
            "stylers": [{"color": "#012621"}]
        }, {
            "featureType": "administrative.neighborhood",
            "elementType": "labels.text",
            "stylers": [{"color": "#012621"}]
        }, {
            "featureType": "landscape",
            "elementType": "geometry",
            "stylers": [{"color": "#ffffff"}]
        }, {
            "featureType": "poi",
            "elementType": "all",
            "stylers": [{"color": "#ffffff"}, {"lightness": -7}]
        }, {"featureType": "poi.park", "elementType": "all", "stylers": [{"color": "#ffffff"}]}, {
            "featureType": "road",
            "elementType": "geometry.stroke",
            "stylers": [{"color": "#ffffff"}, {"weight": 0.3}, {"lightness": 10}]
        }, {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [{"color": "#ffffff"}, {"lightness": "-7"}]
        }, {
            "featureType": "road.arterial",
            "elementType": "geometry",
            "stylers": [{"color": "#ffffff"}, {"visibility": "on"}, {"lightness": -15}]
        }, {
            "featureType": "road.local",
            "elementType": "geometry",
            "stylers": [{"color": "#ffffff"}, {"lightness": "7"}]
        }, {
            "featureType": "transit",
            "elementType": "geometry",
            "stylers": [{"color": "#06c5a9"}, {"lightness": -34}]
        }, {"featureType": "water", "elementType": "geometry", "stylers": [{"color": "#150250"}]}];
    }
    map.setOptions({styles: styles});
    var image = 'http://localhost:63342/design-blog/Views/fill_animantion_files/ss.png';
    var marker = new google.maps.Marker({
        position: new google.maps.LatLng(28.252585, 83.975490),
        animation: google.maps.Animation.DROP,
        icon: image
    });
    marker.setMap(map);
    google.maps.event.addListenerOnce(map, 'tilesloaded', function () {
        $('.inf-map').addClass('animated fadeInUp');
        $('#map').css('opacity', 1);
    });
</script>
{% endblock %}
