{% extends "app.html" %}

{% block body %}
<body class="home page page-id-11 page-template page-template-template-home page-template-template-home-php" style=""
      cz-shortcut-listen="true">
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function(){ var widget_id = 'tx9c9yoAX1';var d=document;var w=window;function l(){
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
<div id="nav_bar" style="float: right;position: absolute;right: 0px;background-color: #0d032c!important;">
    <a
            class="logo" rel="index" href="http://suntos.com.np/">
        <img
                src="./Views/fill_animantion_files/ss.png"
                alt="Laravel Developer Logo, Android Developer Logo , Electronics Engineer Logo">
        <img
                src="./Views/fill_animantion_files/ss_sub.png"
                alt="Laravel Developer Logo, Android Developer Logo , Electronics Engineer Logo"> </a>
    <nav class="en">
        <a rel="index" href="http://suntos.com.np/" class="home-link active">
            <i
                    class="fa fa-home fa-lg"></i></a> <a rel="about" href="http://suntos.com.np/about" class=""><i
            class="fa fa-user-md fa-lg"></i></a> <a rel="skills" href="http://suntos.com.np/skills" class=""><i
            class="fa fa-cog fa-lg"></i></a> <a rel="gallery" href="http://suntos.com.np/portfolio" class=""><i
            class="fa fa-eye fa-lg"></i></a> <a rel="contact" href="http://suntos.com.np/contact" class=""><i
            class="fa fa-phone fa-lg"></i></a></nav>
    <ul>
        <li><a href="https://twitter.com/IMSdahal" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/Crackwebsite/" target="_blank"><i
                class="fa fa-facebook"></i></a></li>
        <li><a href="http://suntos.com.np/feed/" target="_blank"><i class="fa fa-rss"></i></a></li>
    </ul>
    <a id="mobile-link" href="http://suntos.com.np/"><i class="fa fa-bars"></i></a>
    </nav>
</div>
<div id="particles-js" class="en" style="background-color: #150250;">
    <div class="container home-page" style="opacity: 1;"><span
            class="tags top-tags"> &nbsp;&nbsp;&nbsp;&lt;body&gt;</span>
        <div class="text-zone"><h1 aria-label=" Hi,  I’m ack,web developer." class="blast-root">Hi, <br> I’m <img
                src="./Views/fill_animantion_files/ss.png">anto<img
                src="./Views/fill_animantion_files/ss.png">h, <br>web developer.</h1>
            <h2>Backend Web Developer / Electronics Engineer</h2> <a rel="contact"
                                                                     href="http://suntos.com.np/contact"
                                                                     class="flat-button animated rubberBand">CONTACT
                ME</a></div>
        <span class="tags bottom-tags"> &nbsp;&nbsp;&nbsp;&lt;/body&gt;<br> &lt;/html&gt; </span>
        <div id="bulb" class="bulb"><a class="animated" href="http://suntos.com.np/"></a></div>
    </div>
    <div class="bg" style="opacity: 1;padding-top: 3%">

        <svg width="300.000000pt" height="400.000000pt" ViewsBox="0 0 300.000000 457.000000" id="svg"
             style="position: absolute;top: 20%;"></svg>
    </div>
</div>
<div id="vide"
     style="width: 100%; height: 100%; position:fixed;top:0;left:0;right:0;bottom:0;z-index:-1;opacity:0.02;"></div>
<div class="preloader">
    <div class="inner"><img src="./Views/fill_animantion_files/logopreload.png"
                            alt="Laravel Developer Logo, Android Developer Logo , Electronics Engineer Logo"> <span>Santosh is thinking</span>
        <div class="progress-bar">
            <div class="progress-bar_bg">
                <div></div>
            </div>
        </div>
    </div>
</div>
<a class="blog-link" href="http://suntos.com.np/wall/"
   style="position: absolute;left: 0px;width: 100px;background-color: #150250;height: 50px;z-index: 99999 !important">
</a><span class="folded-corner"></span>

<div id="rotate"></div>

<div id="cboxOverlay" style="display: none;"></div>
<div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
    <div id="cboxWrapper">
        <div>
            <div id="cboxTopLeft" style="float: left;"></div>
            <div id="cboxTopCenter" style="float: left;"></div>
            <div id="cboxTopRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxMiddleLeft" style="float: left;"></div>
            <div id="cboxContent" style="float: left;">
                <div id="cboxTitle" style="float: left;"></div>
                <div id="cboxCurrent" style="float: left;"></div>
                <button type="button" id="cboxPrevious"></button>
                <button type="button" id="cboxNext"></button>
                <button id="cboxSlideshow"></button>
                <div id="cboxLoadingOverlay" style="float: left;"></div>
                <div id="cboxLoadingGraphic" style="float: left;"></div>
            </div>
            <div id="cboxMiddleRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxBottomLeft" style="float: left;"></div>
            <div id="cboxBottomCenter" style="float: left;"></div>
            <div id="cboxBottomRight" style="float: left;"></div>
        </div>
    </div>
    <div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div>
</div>
</body>
{% endblock %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/blast.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&key=AIzaSyAkoyaoA_J7HqmEPbhmgIcq_5ReFWV96pg"></script>
<script src="http://www.goat1000.com/jquery.tagcanvas.min.js"></script>

<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<script>
    particlesJS("particles-js", {
        "particles": {
            "number": {"value": 80, "density": {"enable": true, "value_area": 800}},
            "color": {"value": "#ffffff"},
            "shape": {
                "type": "circle",
                "stroke": {"width": 0, "color": "#000000"},
                "polygon": {"nb_sides": 5},
                "image": {"src": "img/github.svg", "width": 100, "height": 100}
            },
            "opacity": {
                "value": 0.5,
                "random": false,
                "anim": {"enable": false, "speed": 1, "opacity_min": 0.1, "sync": false}
            },
            "size": {
                "value": 3,
                "random": true,
                "anim": {"enable": false, "speed": 40, "size_min": 0.1, "sync": false}
            },
            "line_linked": {"enable": true, "distance": 150, "color": "#ffffff", "opacity": 0.4, "width": 1},
            "move": {
                "enable": true,
                "speed": 6,
                "direction": "none",
                "random": false,
                "straight": false,
                "out_mode": "out",
                "bounce": false,
                "attract": {"enable": false, "rotateX": 600, "rotateY": 1200}
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {"enable": true, "mode": "repulse"},
                "onclick": {"enable": true, "mode": "push"},
                "resize": true
            },
            "modes": {
                "grab": {"distance": 400, "line_linked": {"opacity": 1}},
                "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
                "repulse": {"distance": 200, "duration": 0.4},
                "push": {"particles_nb": 4},
                "remove": {"particles_nb": 2}
            }
        },
        "retina_detect": true
    });
    var count_particles, stats, update;
    stats = new Stats;
    stats.setMode(0);
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';
    document.body.appendChild(stats.domElement);
    count_particles = document.querySelector('.js-count-particles');
    update = function () {
        stats.begin();
        stats.end();
        if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
            count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
        }
        requestAnimationFrame(update);
    };
    requestAnimationFrame(update);
    ;
</script>
<script>
    $('#nav_bar nav a').removeClass('active');
    $('.home-link').addClass('active');
    $(".home-page h1").blast({delimiter: "character", tag: "span"});
    a = 300;
    b = 0;
    $(".home-page .blast").each(function () {
        if (a == 300) {
            a = 400;
        }
        if (a == 1100) {
            a = 1200;
        }
        var el = $(this);
        if (a == 400) {
            setTimeout(function () {
                $(".home-page h1 img").addClass('animation-logo');
            }, 800);
        }
        setTimeout(function () {
            el.addClass('animated bounceIn');
        }, a);
        if (a < 1200) {
            a = a + 100;
        } else {
            a = a + 80;
        }
    });
    setTimeout(function () {
        console.log('santoshdahal');
        $(".home-page .blast").removeClass('animated bounceIn');
        $(".home-page .blast").css('opacity', 1);
        $(".home-page .blast").mouseenter(function () {
            var el = $(this);
            $(this).addClass('animated rubberBand');
            $(this).one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                el.removeClass('animated rubberBand');
            });
        });
    }, 3000);
    $(".home-page .flat-button").mouseenter(function () {
        var el = $(this);
        $(this).addClass('animated rubberBand');
        $(this).one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
            el.removeClass('animated rubberBand');
        });
    });
</script>
<script>
    var s = Snap("#svg");
    var matrix = s.getBBox();

    var flagoutline = s.path('M148 204.91L148 169.03L45.11 113.97L44 56.41L15.1 37.09L15.1 134.13L148 204.91L148 204.91Z').attr({
        stroke: '#2e218e',
        'strokeWidth': 4,
        fill: '#e30043',
        'fill-opacity': 1,
        'id': 'flagoutline'
    });
    var flagoutline_distrot = s.path('M150.03 202.92L148 205.54L148.15 205.54C146.46 205.09 145.61 205.09 145.59 205.54C145.57 206.12 145.74 205.51 146.12 205.88C146.45 206.19 145.1 206.01 145.59 206.03C146.11 206.05 147.53 206.78 149.84 208.23L150.03 202.92Z').attr({
        stroke: '#2e218e',
        'strokeWidth': 0,
        fill: '#2e218e',
        'fill-opacity': 1
    });

    var total_length = flagoutline.getTotalLength();
    flagoutline.attr({
        'stroke-dasharray': total_length + 'px',
        'stroke-dashoffset': total_length + 'px'
    });

    var flagoutline_mask = s.rect('13.11px', '58.04px', '137.87px', '130px').attr(
        {'fill': '#150250'});

    var flag_star = s.path('M94.83 161.02L95.64 163.92L92.78 162.75L92.82 165.75L90.34 163.93L89.61 166.85L87.68 164.49L86.22 167.14L84.96 164.39L82.86 166.61L82.35 163.65L79.75 165.29L80.02 162.3L77.07 163.26L78.1 160.43L75 160.66L76.73 158.16L73.66 157.64L75.98 155.63L73.15 154.39L75.91 153.01L73.49 151.12L76.52 150.45L74.66 148.04L77.77 148.11L76.59 145.33L79.58 146.15L79.15 143.17L81.84 144.69L82.19 141.7L84.41 143.81L85.52 141L87.12 143.58L88.92 141.12L89.81 144L92.18 142.05L92.3 145.06L95.1 143.74L94.44 146.68L97.49 146.08L96.1 148.76L99.21 148.91L97.17 151.18L100.14 152.07L97.58 153.78L100.23 155.35L97.31 156.39L99.47 158.55L96.37 158.86L97.91 161.47L97.91 161.47L94.83 161.02Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#150250',
        'opacity': 1,
        'id': 'star'
    });

    var flag_moon_star = s.path('M34.3 94.5L32.76 93.87L32.78 95.47L31.45 94.5L31.05 96.06L30.01 94.8L29.23 96.22L28.55 94.75L27.42 95.93L27.14 94.35L25.75 95.23L25.89 93.63L24.3 94.14L24.86 92.63L23.19 92.75L24.12 91.42L22.47 91.14L23.72 90.06L22.19 89.4L23.68 88.66L22.37 87.65L24.01 87.29L23 86L24.68 86.04L24.04 84.56L25.65 84.99L25.42 83.4L26.87 84.21L27.06 82.61L28.25 83.74L28.85 82.24L29.71 83.62L30.68 82.3L31.16 83.84L32.44 82.8L32.5 84.41L34.01 83.71L33.65 85.28L35.3 84.96L34.55 86.39L36.22 86.47L35.12 87.68L36.72 88.16L35.34 89.07L36.77 89.91L35.2 90.47L36.36 91.62L34.69 91.79L35.52 93.19L35.52 93.19L33.86 92.94L34.3 94.5Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#150250',
        'opacity': 1
    });


    var rotateGear = function (gear, dir) {
        var angle = 0;
        return function () {
            var bbox = gear.getBBox();
            angle += (360 * dir);

            var code = 'r10000 ' + bbox.cx + ' ' + bbox.cy + '';
            gear.animate({transform: code}, 60000);
        }
    };
    var rg1 = rotateGear(flag_star, 1);
    var rg2 = rotateGear(flag_moon_star, 1);

    flagoutline_mask.animate({height: '0px'}, 4000, mina.bounce, function () {
        var matrix = s.getBBox();

        s.animate({
            height: '600pt',
            style: {'padding-top': '0%', 'posiiton': 'absolute', 'top': '50%'}
        }, 4000, mina.bounce, function () {
            flagoutline.animate({'strokeDashoffset': '0'}
                , 3000, mina.easeout, function () {
                    flagoutline.attr({
                        'fill': '#e30043'
                    });
                    flag_star.attr({
                        'fill': 'white'
                    });
                    flag_moon_star.attr({
                        'fill': 'white'
                    });
                    flag_halfmoon.attr({
                        'fill': 'white'
                    });
                    rg1();
                    rg2();

                });
        });


    });


    var flag_halfmoon = s.path('M41.97 84.19C41.39 91.35 35.56 96.72 28.95 96.18C22.35 95.65 17.46 89.4 18.04 82.24C18.04 82.24 18.04 82.24 18.04 82.24C20.54 86.55 24.77 89.32 29.48 89.7C34.19 90.08 38.82 88.04 41.97 84.19C41.97 84.19 41.97 84.19 41.97 84.19Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#150250',
        'opacity': 1
    });
    var svgMarkup = Snap.parse('<defs><linearGradient id="gradienteVoE5dU2T" gradientUnits="userSpaceOnUse" x1="23.98" y1="2.27" x2="86.29" y2="56.7"> <stop style="stop-color: #002e3b;stop-opacity: 1" offset="39.8438%"></stop> <stop style="stop-color: #002639;stop-opacity: 1" offset="85.9375%"></stop> </linearGradient></defs>');
    s.append(svgMarkup);
    var radialGradient = s.select('#gradienteVoE5dU2T')

    var upper_part = s.path('M45.79 55.31L86.97 36.91L126.83 58.04L160.87 38.33L88.19 -0.2L13.11 33.35L13.11 33.38L45.76 55.34L45.79 55.33L45.79 55.31Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: radialGradient,
        'opacity': 1
    });

    var programmer = s.path('M111.25 32.66C111.25 31.06 111.25 30.18 111.25 30C111.01 29.86 110.8 29.67 110.63 29.41C110.42 29.09 109.35 27.46 107.44 24.53C109.78 26.98 111.07 28.35 111.33 28.62C111.57 28.87 111.89 29 112.21 29C112.38 29 113.2 29 114.69 29C115.54 29 116.02 29 116.11 29C115.99 29.19 115.9 29.41 115.9 29.66C115.9 30.26 116.35 30.76 116.91 30.76C117.48 30.76 122.09 30.76 122.66 30.76C123.08 30.76 123.45 30.49 123.6 30.07C123.86 29.39 125.88 23.95 126.14 23.27C126.35 22.71 126.1 22.06 125.58 21.83C125.06 21.6 124.47 21.88 124.26 22.44C124.11 22.85 123.35 24.89 121.98 28.55C119.72 28.55 118.47 28.55 118.22 28.55C118.43 28.31 118.56 27.99 118.56 27.63C118.56 27.34 118.46 27.09 118.32 26.87C118.1 26.5 117.73 26.25 117.29 26.25C116.99 26.25 115.47 26.25 112.72 26.25L109.2 22.54C110.42 23.42 111.09 23.9 111.23 24C111.1 22.59 110.03 21.49 108.7 21.49C108.59 21.49 107.72 21.49 107.61 21.49C106.21 21.49 105.06 22.74 105.06 24.27C105.06 25.21 105.06 32.75 105.06 33.7C105.06 35.01 106.12 35.97 107.01 35.97C107.34 35.97 109.03 35.97 112.07 35.97C112.07 39.69 112.07 41.76 112.07 42.18C112.07 43.09 112.76 43.83 113.59 43.83C114.43 43.83 115.12 43.09 115.12 42.18C115.12 41.39 115.12 35.1 115.12 34.32C115.12 33.4 114.43 32.66 113.59 32.66C113.59 32.66 113.59 32.66 113.59 32.66L111.25 32.66Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });
    var programmer_chair = s.path('M104.11 36.37C104.11 33.3 104.11 30.28 104.11 27.22C104.11 26.65 103.64 26.2 103.06 26.2C102.47 26.2 102 26.65 102 27.22C102 36.9 102 32.91 102 41.81C102 42.37 102.47 42.83 103.06 42.83C103.64 42.83 104.11 42.37 104.11 41.81C104.11 41.58 104.11 40.45 104.11 38.42L109.17 38.42C109.17 40.45 109.17 41.58 109.17 41.81C109.17 42.37 109.64 42.83 110.23 42.83C110.81 42.83 111.28 42.37 111.28 41.81C111.28 41.37 111.28 37.84 111.28 37.4C111.28 36.83 110.81 36.37 110.23 36.37C109 36.37 104.72 36.37 104.11 36.37Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });
    var programmer_head = s.path('M110.93 18.83C110.93 17.29 109.9 16.05 108.64 16.05C107.37 16.05 106.34 17.29 106.34 18.83C106.34 20.37 107.37 21.62 108.64 21.62C109.9 21.62 110.93 20.37 110.93 18.83Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });
    var programmer_desk = s.path('M117.25 31.54C116.9 31.54 116.61 31.94 116.61 32.42C116.61 32.9 116.9 33.29 117.25 33.29C117.48 33.29 118.59 33.29 120.61 33.29L120.61 39.08C119.97 39.08 119.62 39.08 119.55 39.08C119.19 39.08 118.91 39.47 118.91 39.96C118.91 40.44 119.19 40.83 119.55 40.83C119.89 40.83 122.6 40.83 122.94 40.83C123.3 40.83 123.58 40.44 123.58 39.96C123.58 39.47 123.3 39.08 122.94 39.08C122.87 39.08 122.52 39.08 121.89 39.08L121.89 33.29C123.9 33.29 125.02 33.29 125.24 33.29C125.59 33.29 125.88 32.9 125.88 32.42C125.88 31.94 125.59 31.54 125.24 31.54C123.64 31.54 118.05 31.54 117.25 31.54Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });
    var robot = s.path('M56.86 19.51L57.04 19.53L57.21 19.55L57.39 19.58L57.56 19.61L57.73 19.65L57.9 19.69L58.07 19.74L58.23 19.8L58.39 19.86L58.56 19.93L58.71 20L58.87 20.08L59.03 20.16L59.18 20.25L59.33 20.34L59.47 20.44L59.62 20.54L59.76 20.65L59.89 20.76L60.03 20.88L60.16 21L60.29 21.13L60.41 21.26L60.53 21.39L60.65 21.53L60.77 21.67L60.88 21.82L60.98 21.97L61.08 22.12L61.18 22.28L61.28 22.45L61.37 22.61L61.45 22.78L61.53 22.96L61.61 23.13L61.68 23.31L61.75 23.5L61.81 23.68L63.35 24.12L63.35 25.47L63.14 26.02L65.77 27L65.77 22.21L64.97 22.21L64.97 19.5L65.77 19.5L65.77 21.31L68.19 21.31L68.19 19.5L69 19.5L69 22.21L68.19 22.21L68.19 28.98L68.19 29.06L68.19 29.13L68.18 29.2L68.17 29.28L68.16 29.35L68.15 29.42L68.13 29.49L68.11 29.55L68.09 29.62L68.07 29.69L68.04 29.75L68.01 29.81L67.98 29.87L67.95 29.93L67.92 29.99L67.88 30.05L67.84 30.11L67.8 30.16L67.76 30.21L67.72 30.26L67.68 30.31L67.63 30.36L67.58 30.4L67.53 30.44L67.48 30.48L67.43 30.52L67.38 30.56L67.32 30.59L67.27 30.62L67.21 30.65L67.15 30.67L67.09 30.7L67.03 30.72L66.97 30.74L66.91 30.75L66.84 30.77L66.78 30.78L66.71 30.78L66.65 30.79L66.58 30.79L66.53 30.79L66.49 30.79L66.44 30.78L66.4 30.78L66.35 30.77L66.31 30.76L66.27 30.76L66.22 30.75L66.18 30.73L66.14 30.72L66.1 30.71L66.06 30.69L66.01 30.67L65.97 30.66L65.93 30.64L65.9 30.62L65.86 30.59L65.82 30.57L65.78 30.55L65.74 30.52L65.71 30.5L65.67 30.47L65.64 30.44L65.6 30.41L65.57 30.38L65.54 30.35L65.51 30.32L65.47 30.29L65.44 30.26L65.41 30.22L65.39 30.19L65.36 30.15L65.33 30.11L65.3 30.07L65.28 30.04L65.25 30L65.23 29.96L65.21 29.92L65.19 29.87L65.16 29.83L62.14 28.56L60.57 32.6L60.94 32.6L60.99 32.6L61.03 32.6L61.08 32.61L61.13 32.61L61.18 32.62L61.23 32.64L61.27 32.65L61.32 32.67L61.36 32.68L61.41 32.7L61.45 32.72L61.49 32.75L61.53 32.77L61.57 32.8L61.61 32.83L61.65 32.86L61.69 32.89L61.72 32.92L61.76 32.96L61.79 32.99L61.82 33.03L61.85 33.07L61.88 33.11L61.91 33.15L61.94 33.19L61.96 33.24L61.99 33.28L62.01 33.33L62.03 33.38L62.05 33.42L62.07 33.47L62.08 33.52L62.1 33.57L62.11 33.63L62.12 33.68L62.13 33.73L62.14 33.79L62.14 33.84L62.14 33.9L62.15 33.95L62.15 41.63L62.15 41.65L62.15 41.67L62.15 41.68L62.15 41.7L62.15 41.72L62.16 41.74L62.16 41.75L62.17 41.77L62.17 41.79L62.18 41.8L62.18 41.82L62.19 41.84L62.2 41.85L62.21 41.87L62.21 41.88L62.22 41.9L62.23 41.91L62.24 41.92L62.25 41.94L62.26 41.95L62.27 41.96L62.29 41.97L62.3 41.98L62.31 41.99L62.32 42L62.34 42.01L62.35 42.02L62.36 42.03L62.38 42.04L62.39 42.05L62.41 42.05L62.42 42.06L62.44 42.06L62.45 42.07L62.47 42.07L62.48 42.07L62.5 42.08L62.52 42.08L62.53 42.08L62.55 42.08L62.95 42.08L62.95 34.85L69 34.85L69 43.89L62.95 43.89L62.95 42.98L62.55 42.98L62.5 42.98L62.45 42.98L62.4 42.97L62.35 42.97L62.3 42.96L62.26 42.94L62.21 42.93L62.17 42.91L62.12 42.9L62.08 42.88L62.04 42.86L61.99 42.83L61.95 42.81L61.91 42.78L61.87 42.75L61.83 42.72L61.8 42.69L61.76 42.66L61.73 42.62L61.69 42.59L61.66 42.55L61.63 42.51L61.6 42.47L61.57 42.43L61.55 42.39L61.52 42.34L61.5 42.3L61.47 42.25L61.45 42.2L61.43 42.16L61.42 42.11L61.4 42.06L61.39 42.01L61.37 41.95L61.36 41.9L61.35 41.85L61.35 41.79L61.34 41.74L61.34 41.68L61.34 41.63L61.34 33.95L61.34 33.93L61.34 33.91L61.34 33.9L61.33 33.88L61.33 33.86L61.33 33.84L61.32 33.83L61.32 33.81L61.31 33.79L61.31 33.78L61.3 33.76L61.29 33.74L61.29 33.73L61.28 33.71L61.27 33.7L61.26 33.68L61.25 33.67L61.24 33.66L61.23 33.64L61.22 33.63L61.21 33.62L61.2 33.61L61.19 33.6L61.17 33.59L61.16 33.58L61.15 33.57L61.13 33.56L61.12 33.55L61.11 33.54L61.09 33.54L61.08 33.53L61.06 33.52L61.05 33.52L61.03 33.51L61.02 33.51L61 33.51L60.98 33.5L60.97 33.5L60.95 33.5L60.94 33.5L60.53 33.5L60.53 44.79L62.95 44.79L62.95 47.5L57.31 47.5L57.31 37.56L55.69 37.56L55.69 47.5L50.05 47.5L50.05 44.79L52.47 44.79L52.47 32.69L50.86 28.56L47.84 29.83L47.81 29.87L47.79 29.92L47.77 29.96L47.75 30L47.72 30.04L47.7 30.07L47.67 30.11L47.64 30.15L47.61 30.19L47.59 30.22L47.56 30.26L47.53 30.29L47.49 30.32L47.46 30.35L47.43 30.38L47.4 30.41L47.36 30.44L47.33 30.47L47.29 30.5L47.26 30.52L47.22 30.55L47.18 30.57L47.14 30.59L47.1 30.62L47.07 30.64L47.03 30.66L46.99 30.67L46.94 30.69L46.9 30.71L46.86 30.72L46.82 30.73L46.78 30.75L46.73 30.76L46.69 30.76L46.65 30.77L46.6 30.78L46.56 30.78L46.51 30.79L46.47 30.79L46.42 30.79L46.35 30.79L46.29 30.78L46.22 30.78L46.16 30.77L46.09 30.75L46.03 30.74L45.97 30.72L45.91 30.7L45.85 30.67L45.79 30.65L45.73 30.62L45.68 30.59L45.62 30.56L45.57 30.52L45.52 30.48L45.47 30.44L45.42 30.4L45.37 30.36L45.32 30.31L45.28 30.26L45.24 30.21L45.2 30.16L45.16 30.11L45.12 30.05L45.08 29.99L45.05 29.93L45.02 29.87L44.99 29.81L44.96 29.75L44.93 29.69L44.91 29.62L44.89 29.55L44.87 29.49L44.85 29.42L44.84 29.35L44.83 29.28L44.82 29.2L44.81 29.13L44.81 29.06L44.81 28.98L44.81 22.21L44 22.21L44 20.07L44.81 19.5L44.81 21.31L47.23 21.31L47.23 19.5L48.03 19.5L48.03 22.21L47.23 22.21L47.23 27L49.86 26.02L49.65 25.47L49.65 24.12L51.19 23.68L51.25 23.5L51.32 23.31L51.39 23.13L51.47 22.96L51.55 22.78L51.63 22.61L51.72 22.45L51.82 22.28L51.92 22.12L52.02 21.97L52.12 21.82L52.23 21.67L52.35 21.53L52.47 21.39L52.59 21.26L52.71 21.13L52.84 21L52.97 20.88L53.11 20.76L53.24 20.65L53.38 20.54L53.53 20.44L53.67 20.34L53.82 20.25L53.97 20.16L54.13 20.08L54.29 20L54.44 19.93L54.61 19.86L54.77 19.8L54.93 19.74L55.1 19.69L55.27 19.65L55.44 19.61L55.61 19.58L55.79 19.55L55.96 19.53L56.14 19.51L56.32 19.5L56.5 19.5L56.68 19.5L56.86 19.51ZM58.11 46.6L62.15 46.6L62.15 45.69L58.11 45.69L58.11 46.6ZM50.85 46.6L54.89 46.6L54.89 45.69L50.85 45.69L50.85 46.6ZM59.41 42.87L59.18 42.93L58.92 42.98L58.7 42.97L58.49 42.92L58.3 42.84L58.11 42.73L58.11 44.79L59.73 44.79L59.73 42.73L59.59 42.81L59.41 42.87ZM54.51 42.92L54.3 42.97L54.08 42.98L53.86 42.97L53.66 42.92L53.46 42.84L53.27 42.73L53.27 44.79L54.89 44.79L54.89 42.73L54.7 42.84L54.51 42.92ZM63.76 42.98L68.19 42.98L68.19 38.47L63.76 38.47L63.76 42.98ZM58.35 40.54L58.18 40.83L58.11 41.18L58.18 41.53L58.35 41.82L58.61 42.01L58.92 42.08L59.23 42.01L59.49 41.82L59.66 41.53L59.73 41.18L59.66 40.83L59.49 40.54L59.23 40.35L58.92 40.27L58.61 40.35L58.35 40.54ZM53.34 40.83L53.27 41.18L53.34 41.53L53.51 41.82L53.77 42.01L54.08 42.08L54.39 42.01L54.65 41.82L54.82 41.53L54.89 41.18L54.82 40.83L54.65 40.54L54.39 40.35L54.08 40.27L53.77 40.35L53.51 40.54L53.34 40.83ZM53.27 39.62L53.46 39.52L53.66 39.44L53.86 39.39L54.08 39.37L54.24 39.39L54.43 39.43L54.64 39.51L54.89 39.62L54.89 37.56L53.27 37.56L53.27 39.62ZM58.11 39.62L58.3 39.52L58.49 39.44L58.7 39.39L58.92 39.37L59.14 39.39L59.34 39.44L59.54 39.52L59.73 39.62L59.73 37.56L58.11 37.56L58.11 39.62ZM63.76 37.56L68.19 37.56L68.19 35.76L63.76 35.76L63.76 37.56ZM55.13 20.62L54.5 20.88L53.91 21.24L53.37 21.68L52.89 22.2L52.48 22.8L52.14 23.47L51.88 24.2L51.82 24.44L50.45 24.82L50.45 25.28L53.27 32.5L53.27 36.66L59.73 36.66L59.73 32.5L59.73 32.5L62.55 25.28L62.55 24.82L61.18 24.44L61.12 24.2L60.86 23.47L60.52 22.8L60.11 22.2L59.63 21.68L59.09 21.24L58.5 20.88L57.87 20.62L57.2 20.46L56.5 20.4L55.8 20.46L55.13 20.62ZM45.85 28.35L45.68 28.63L45.61 28.98L45.68 29.34L45.85 29.62L46.11 29.82L46.42 29.89L46.73 29.82L46.99 29.62L47.16 29.34L47.23 28.98L47.16 28.63L46.99 28.35L46.73 28.15L46.42 28.08L46.11 28.15L45.85 28.35ZM66.01 28.35L65.84 28.63L65.77 28.98L65.84 29.34L66.01 29.62L66.27 29.82L66.58 29.89L66.89 29.82L67.15 29.62L67.32 29.34L67.39 28.98L67.32 28.63L67.15 28.35L66.89 28.15L66.58 28.08L66.27 28.15L66.01 28.35ZM64.99 28.79L65.03 28.52L65.11 28.26L65.23 28.02L65.37 27.8L62.81 26.85L62.47 27.73L64.99 28.79ZM47.73 27.97L47.83 28.19L47.93 28.46L48.01 28.79L50.53 27.73L50.19 26.85L47.63 27.8L47.73 27.97ZM66.58 27.18L66.74 27.19L66.93 27.24L67.14 27.32L67.39 27.43L67.39 22.21L66.58 22.21L66.58 27.18ZM45.61 27.43L45.8 27.32L45.99 27.24L46.2 27.19L46.42 27.18L46.42 22.21L45.61 22.21L45.61 27.43Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });

    var robot_head = s.path('M59.16 22.39L60.13 23.26L60.77 24.36L61 25.62L60.77 26.88L60.13 27.98L59.16 28.85L57.92 29.42L56.5 29.62L55.08 29.42L53.84 28.85L52.87 27.98L52.23 26.88L52 25.62L52.23 24.36L52.87 23.26L53.84 22.39L55.08 21.82L56.5 21.62L57.92 21.82L59.16 22.39ZM53.96 23.36L53.18 24.38L52.9 25.62L53.18 26.86L53.96 27.88L55.1 28.57L56.5 28.82L57.9 28.57L59.04 27.88L59.82 26.86L60.1 25.62L59.82 24.38L59.04 23.36L57.9 22.67L56.5 22.42L55.1 22.67L53.96 23.36Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });
    var robot_small_head = s.path('M54.5 25.42C54.28 25.13 54.56 24.55 55.12 24.14C55.1 24.12 54.94 23.9 54.92 23.87C54.08 24.49 53.67 25.35 53.99 25.79C53.99 25.79 53.99 25.79 53.99 25.79C54.3 25.57 54.47 25.45 54.5 25.42Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });

    var robot_middle = s.path('M54.5 35L54.5 33L58.5 33L58.5 35L54.5 35ZM55.17 34.5L57.83 34.5L57.83 33.5L55.17 33.5L55.17 34.5Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });
    var lower_part = s.path('M40.62 186.67L40.66 186.65L40.65 186.64L2.08 204.22L75.06 242.21L150.03 208.17L112.64 188.24L76 205.09L40.62 186.67Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: radialGradient,
        'opacity': 1
    });
    var up_outline = s.path('M93.13 223L93.13 217.13L91 217.13L91 213.77L93.13 213.77L93.13 207.06L91 207.06L91 201.19L93.13 201.19L93.13 199.34L95.11 197L113 197L113 223L93.13 223ZM93.84 199.69L93.84 201.19L96.68 201.19L96.68 202.03L97.39 202.03L97.39 202.87L96.68 202.87L96.68 205.39L97.39 205.39L97.39 206.23L96.68 206.23L96.68 207.06L93.84 207.06L93.84 213.77L96.68 213.77L96.68 215.03L97.39 215.03L97.39 215.87L96.68 215.87L96.68 217.13L93.84 217.13L93.84 222.16L112.29 222.16L112.29 197.84L95.4 197.84L93.84 199.69ZM91.71 216.29L95.97 216.29L95.97 214.61L91.71 214.61L91.71 216.29ZM91.71 206.23L95.97 206.23L95.97 202.03L91.71 202.03L91.71 206.23Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });
    var up_bigic = s.path('M110 201.76L110 202.52L109.22 202.52L109.22 203.28L110 203.28L110 204.04L109.22 204.04L109.22 204.8L110 204.8L110 205.56L109.22 205.56L109.22 206.32L110 206.32L110 207.08L109.22 207.08L109.22 207.84L110 207.84L110 208.6L109.22 208.6L109.22 209.36L110 209.36L110 210.12L109.22 210.12L109.22 210.88L110 210.88L110 211.64L109.22 211.64L109.22 212.4L110 212.4L110 213.16L109.22 213.16L109.22 213.92L110 213.92L110 214.68L109.22 214.68L109.22 215.44L110 215.44L110 216.2L109.22 216.2L109.22 216.96L110 216.96L110 217.72L109.22 217.72L109.22 218.48L110 218.48L110 219.24L109.22 219.24L109.22 220L103.78 220L103.78 219.24L103 219.24L103 218.48L103.78 218.48L103.78 217.72L103 217.72L103 216.96L103.78 216.96L103.78 216.2L103 216.2L103 215.44L103.78 215.44L103.78 214.68L103 214.68L103 213.92L103.78 213.92L103.78 213.16L103 213.16L103 212.4L103.78 212.4L103.78 211.64L103 211.64L103 210.88L103.78 210.88L103.78 210.12L103 210.12L103 209.36L103.78 209.36L103.78 208.6L103 208.6L103 207.84L103.78 207.84L103.78 207.08L103 207.08L103 206.32L103.78 206.32L103.78 205.56L103 205.56L103 204.8L103.78 204.8L103.78 204.04L103 204.04L103 203.28L103.78 203.28L103.78 202.52L103 202.52L103 201.76L103.78 201.76L103.78 201L109.22 201L109.22 201.76L110 201.76ZM104.56 219.24L108.44 219.24L108.44 201.76L104.56 201.76L104.56 219.24Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });
    var up_smallic = s.path('M99.71 216L99.71 215L100.29 215L100.29 216L100.86 216L100.86 215L101.43 215L101.43 216L102 216L102 219L101.43 219L101.43 220L100.86 220L100.86 219L100.29 219L100.29 220L99.71 220L99.71 219L99.14 219L99.14 220L98.57 220L98.57 219L98 219L98 216L98.57 216L98.57 215L99.14 215L99.14 216L99.71 216ZM98.57 218L101.43 218L101.43 217L98.57 217L98.57 218Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });
    var up_part1 = s.path('M98 204L98 202L101 202L101 204L98 204ZM98.75 203.33L100.25 203.33L100.25 202.67L98.75 202.67L98.75 203.33Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });
    var up_part2 = s.path('M98 210L98 207L101 207L101 210L98 210ZM98.75 209L100.25 209L100.25 208L98.75 208L98.75 209Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });

    var iot = s.path('M59.54 201.01L59.64 201.03L59.75 201.05L59.85 201.08L59.95 201.11L60.05 201.15L60.15 201.19L60.24 201.24L60.33 201.3L60.42 201.35L60.51 201.42L60.59 201.48L60.67 201.56L60.74 201.63L60.81 201.71L60.88 201.8L60.94 201.88L61 201.98L61.06 202.07L61.11 202.17L61.15 202.27L61.19 202.37L61.23 202.48L61.26 202.59L61.29 202.7L61.31 202.81L61.32 202.92L61.33 203.04L61.33 203.16L61.33 215.25L61.33 215.37L61.32 215.48L61.31 215.6L61.29 215.71L61.26 215.82L61.23 215.93L61.19 216.04L61.15 216.14L61.11 216.24L61.06 216.34L61 216.43L60.94 216.52L60.88 216.61L60.81 216.7L60.74 216.78L60.67 216.85L60.59 216.92L60.51 216.99L60.42 217.06L60.33 217.11L60.24 217.17L60.15 217.22L60.05 217.26L59.95 217.3L59.85 217.33L59.75 217.36L59.64 217.38L59.54 217.4L59.43 217.41L59.32 217.41L54.08 217.41L54.08 219.14L55.69 219.14L55.69 220L52.06 220L52.06 219.14L53.27 219.14L53.27 217.41L52.06 217.41L52.06 218.27L51.25 218.27L51.25 220L46.41 220L46.41 218.27L45.61 218.27L45.61 217.41L44.4 217.41L44.4 219.14L45.61 219.14L45.61 220L41.98 220L41.98 219.14L43.59 219.14L43.59 217.41L38.35 217.41L38.24 217.41L38.13 217.4L38.02 217.38L37.92 217.36L37.81 217.33L37.71 217.3L37.61 217.26L37.52 217.22L37.42 217.17L37.33 217.11L37.24 217.06L37.16 216.99L37.08 216.92L37 216.85L36.92 216.78L36.85 216.7L36.79 216.61L36.72 216.52L36.66 216.43L36.61 216.34L36.56 216.24L36.51 216.14L36.47 216.04L36.44 215.93L36.41 215.82L36.38 215.71L36.36 215.6L36.35 215.48L36.34 215.37L36.33 215.25L36.33 203.16L36.34 203.04L36.35 202.92L36.36 202.81L36.38 202.7L36.41 202.59L36.44 202.48L36.47 202.37L36.51 202.27L36.56 202.17L36.61 202.07L36.66 201.98L36.72 201.88L36.79 201.8L36.85 201.71L36.92 201.63L37 201.56L37.08 201.48L37.16 201.42L37.24 201.35L37.33 201.3L37.42 201.24L37.52 201.19L37.61 201.15L37.71 201.11L37.81 201.08L37.92 201.05L38.02 201.03L38.13 201.01L38.24 201L38.35 201L59.32 201L59.43 201L59.54 201.01ZM47.22 219.14L50.45 219.14L50.45 218.27L47.22 218.27L47.22 219.14ZM51.84 215.27L51.83 215.28L51.81 215.3L51.8 215.31L51.78 215.33L51.77 215.34L51.75 215.36L51.73 215.37L51.72 215.39L51.7 215.4L51.69 215.42L51.67 215.43L51.65 215.45L51.64 215.46L51.62 215.47L51.6 215.49L51.59 215.5L51.57 215.52L51.55 215.53L51.54 215.55L51.52 215.56L51.5 215.57L51.49 215.59L51.47 215.6L51.45 215.61L51.44 215.63L51.42 215.64L51.4 215.66L51.38 215.67L51.37 215.68L52.06 215.68L52.06 216.55L51.25 216.55L51.25 217.41L52.06 217.41L52.06 216.55L59.32 216.55L59.38 216.54L59.45 216.54L59.51 216.53L59.58 216.52L59.64 216.5L59.7 216.48L59.76 216.46L59.82 216.43L59.87 216.4L59.93 216.37L59.98 216.33L60.03 216.3L60.08 216.25L60.13 216.21L60.17 216.17L60.21 216.12L60.26 216.07L60.29 216.01L60.33 215.96L60.36 215.9L60.39 215.84L60.42 215.78L60.44 215.72L60.47 215.66L60.48 215.59L60.5 215.53L60.51 215.46L60.52 215.39L60.53 215.32L60.53 215.25L51.86 215.25L51.84 215.27ZM37.14 215.32L37.15 215.39L37.16 215.46L37.17 215.53L37.18 215.59L37.2 215.66L37.22 215.72L37.25 215.78L37.28 215.84L37.31 215.9L37.34 215.96L37.37 216.01L37.41 216.07L37.45 216.12L37.49 216.17L37.54 216.21L37.59 216.25L37.64 216.3L37.69 216.33L37.74 216.37L37.79 216.4L37.85 216.43L37.91 216.46L37.97 216.48L38.03 216.5L38.09 216.52L38.15 216.53L38.22 216.54L38.28 216.54L38.35 216.55L45.61 216.55L45.61 217.41L46.41 217.41L46.41 216.55L45.61 216.55L45.61 215.68L46.3 215.68L46.28 215.67L46.27 215.66L46.25 215.64L46.23 215.63L46.21 215.61L46.2 215.6L46.18 215.59L46.16 215.57L46.15 215.56L46.13 215.55L46.11 215.53L46.1 215.52L46.08 215.5L46.06 215.49L46.05 215.47L46.03 215.46L46.01 215.45L46 215.43L45.98 215.42L45.96 215.4L45.95 215.39L45.93 215.37L45.92 215.36L45.9 215.34L45.88 215.33L45.87 215.31L45.85 215.3L45.84 215.28L45.82 215.27L45.81 215.25L37.14 215.25L37.14 215.32ZM47.22 217.41L50.45 217.41L50.45 216.55L47.22 216.55L47.22 217.41ZM47.24 208.3L46.56 208.76L46 209.37L45.57 210.09L45.3 210.91L45.2 211.8L45.25 212.38L45.37 212.94L45.57 213.48L45.83 213.98L46.17 214.43L46.57 214.83L47.02 215.16L47.22 215.28L47.22 215.68L48.43 215.68L48.43 213.46L48.14 213.35L47.89 213.19L47.66 212.98L47.48 212.73L47.34 212.44L47.25 212.13L47.22 211.8L47.26 211.4L47.38 211.04L47.58 210.72L47.83 210.45L48.12 210.24L48.46 210.11L48.83 210.07L49.2 210.11L49.54 210.24L49.84 210.45L50.09 210.72L50.28 211.04L50.4 211.4L50.45 211.8L50.42 212.13L50.33 212.44L50.19 212.73L50 212.98L49.78 213.19L49.52 213.35L49.24 213.46L49.24 215.68L50.45 215.68L50.45 215.28L50.65 215.16L51.1 214.83L51.5 214.43L51.83 213.98L52.1 213.48L52.3 212.94L52.42 212.38L52.46 211.8L52.37 210.91L52.09 210.09L51.66 209.37L51.1 208.76L50.43 208.3L49.66 208.01L48.83 207.91L48 208.01L47.24 208.3ZM38.23 201.87L38.11 201.89L37.99 201.92L37.88 201.97L37.77 202.02L37.67 202.09L37.58 202.16L37.49 202.24L37.42 202.34L37.35 202.44L37.29 202.54L37.24 202.66L37.19 202.77L37.16 202.9L37.15 203.03L37.14 203.16L37.14 214.39L45.13 214.39L45.04 214.24L44.96 214.09L44.89 213.94L44.82 213.79L44.75 213.64L44.69 213.48L44.64 213.32L44.59 213.16L44.55 212.99L44.51 212.83L44.47 212.66L44.45 212.49L44.43 212.32L44.41 212.14L44.4 211.97L44.4 211.8L44.42 211.31L44.49 210.84L44.6 210.38L44.75 209.95L44.93 209.53L45.16 209.14L45.41 208.78L45.7 208.44L46.01 208.13L46.36 207.86L46.72 207.62L47.11 207.42L47.52 207.26L47.94 207.14L48.38 207.07L48.83 207.05L49.29 207.07L49.73 207.14L50.15 207.26L50.56 207.42L50.95 207.62L51.31 207.86L51.65 208.13L51.97 208.44L52.25 208.78L52.51 209.14L52.73 209.53L52.92 209.95L53.07 210.38L53.18 210.84L53.25 211.31L53.27 211.8L53.27 211.97L53.26 212.14L53.24 212.32L53.22 212.49L53.19 212.66L53.16 212.83L53.12 212.99L53.08 213.16L53.03 213.32L52.97 213.48L52.91 213.64L52.85 213.79L52.78 213.94L52.7 214.09L52.62 214.24L52.54 214.39L60.53 214.39L60.53 203.16L60.52 203.03L60.5 202.9L60.47 202.77L60.43 202.66L60.38 202.54L60.32 202.44L60.25 202.34L60.17 202.24L60.09 202.16L59.99 202.09L59.89 202.02L59.79 201.97L59.68 201.92L59.56 201.89L59.44 201.87L59.32 201.86L38.35 201.86L38.23 201.87ZM48.26 211.19L48.09 211.46L48.03 211.8L48.09 212.13L48.26 212.41L48.52 212.59L48.83 212.66L49.15 212.59L49.4 212.41L49.58 212.13L49.64 211.8L49.58 211.46L49.4 211.19L49.15 211L48.83 210.93L48.52 211L48.26 211.19Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });
    var iot_2 = s.path('M59 212C59 212 59 212 59 212C59 212.6 59 212.93 59 213C59 213 59 213 59 213C56.6 213 55.27 213 55 213C55 213 55 213 55 213C55 212.4 55 212.07 55 212C55 212 55 212 55 212C57.4 212 58.73 212 59 212Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });
    var iot_3 = s.path('M57.02 205.67C57.02 205.67 57.02 205.67 57.02 205.67C57.8 206.18 58.24 206.46 58.32 206.52C58.32 206.52 58.32 206.52 58.32 206.52C55.61 207.11 54.11 207.43 53.8 207.5C53.8 207.5 53.8 207.5 53.8 207.5C53.02 206.99 52.59 206.71 52.5 206.65C52.5 206.65 52.5 206.65 52.5 206.65C55.21 206.06 56.72 205.73 57.02 205.67Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });
    var iot_4 = s.path('M49.33 202.82C49.33 202.82 49.33 202.82 49.33 202.82C49.32 204.76 49.31 205.83 49.31 206.05C49.31 206.05 49.31 206.05 49.31 206.05C48.71 205.86 48.39 205.75 48.32 205.73C48.32 205.73 48.32 205.73 48.32 205.73C48.34 203.79 48.34 202.72 48.35 202.5C48.35 202.5 48.35 202.5 48.35 202.5C48.94 202.69 49.27 202.8 49.33 202.82Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });
    var iot_5 = s.path('M40 205.39C40 205.39 40 205.39 40 205.39C40.74 205.16 41.15 205.03 41.24 205C41.24 205 41.24 205 41.24 205C43.07 206.24 44.09 206.92 44.29 207.06C44.29 207.06 44.29 207.06 44.29 207.06C43.55 207.3 43.14 207.43 43.06 207.45C43.06 207.45 43.06 207.45 43.06 207.45C41.22 206.22 40.2 205.53 40 205.39Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });
    var iot_6 = s.path('M43.03 212.05C43.03 212.05 43.03 212.05 43.03 212.05C43.01 212.65 43 212.99 43 213.05C43 213.05 43 213.05 43 213.05C40.67 212.99 39.37 212.95 39.11 212.95C39.11 212.95 39.11 212.95 39.11 212.95C39.13 212.35 39.14 212.01 39.14 211.95C39.14 211.95 39.14 211.95 39.14 211.95C41.47 212.01 42.77 212.05 43.03 212.05Z').attr({
        stroke: '',
        'strokeWidth': 0,
        fill: '#ffffff',
        'opacity': 1
    });

</script>
{% endblock %}
