{% extends "app.html" %}

{% block body %}
<body class="page page-id-13 page-template page-template-template-about page-template-template-about-php about">


<div id="nav_bar" style="float: right;position: absolute;right: 0px;background-color: #0d032c!important;">
    <a class="logo" rel="index" href="http://suntos.com.np/">
        <img
                src="./Views/fill_animantion_files/ss.png"
                alt="Wordpress Developer Logo, Web Developer Logo , Front End Developer Logo">
        <img
                src="./Views/fill_animantion_files/ss_sub.png" alt="Wordpress Developer, Web Developer , Front End Developer">
    </a>
    <nav class="en">
        <a rel="index" href="http://suntos.com.np/" class="home-link active"><i
                class="fa fa-home fa-lg"></i></a>
        <a rel="about" href="http://suntos.com.np/about" class=""><i
                class="fa fa-user-md fa-lg"></i></a>
        <a rel="skills" href="http://suntos.com.np/skills" class=""><i
                class="fa fa-cog fa-lg"></i></a>
        <a rel="gallery" href="http://suntos.com.np/portfolio" class=""><i
                class="fa fa-eye fa-lg"></i></a>
        <a rel="contact" href="http://suntos.com.np/contact" class=""><i
                class="fa fa-phone fa-lg"></i></a>
    </nav>
    <ul>
        <li><a href="https://twitter.com/IMSdahal" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/Crackwebsite/" target="_blank"><i
                class="fa fa-facebook"></i></a></li>
        <li><a href="http://suntos.com.np/feed/" target="_blank"><i class="fa fa-rss"></i></a></li>
    </ul>
    <a id="mobile-link" href="http://suntos.com.np/"><i class="fa fa-bars"></i></a>
</div>

<div id="page" class="en"  style="background-color: #150250;">
    <div class="container skills " style="opacity: 1">
        <div class="skills-charts">
            <div id="myCanvasContainer">
                <canvas width="500" height="500" id="myCanvas">
                    <ul>
                        <li><a href="https://en.wikipedia.org/wiki/HTML" target="_blank">Laravel</a></li>
                        <li><a data-weight="25" href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets"
                               target="_blank">CSS 3</a></li>
                        <li><a data-weight="25" href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                        </li>
                        <li><a data-weight="24" href="https://en.wikipedia.org/wiki/Representational_state_transfer"
                               target="_blank">REST</a></li>
                        <li><a data-weight="21" href="https://en.wikipedia.org/wiki/Ajax_(programming)" target="_blank">AJAX</a>
                        </li>


                        <li><a data-weight="22" href="https://en.wikipedia.org/wiki/PHP" target="_blank">PHP</a></li>
                        <li><a data-weight="22" href="https://en.wikipedia.org/wiki/MySQL" target="_blank">MySQL</a>
                        </li>

                        <li><a data-weight="17" href="https://en.wikipedia.org/wiki/Git" target="_blank">Git</a></li>
                        <li><a data-weight="23" href="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)"
                               target="_blank">Bootstrap</a></li>
                        <li><a data-weight="15" href="https://en.wikipedia.org/wiki/Sass_(stylesheet_language)"
                               target="_blank">Arduino</a></li>
                        <li><a data-weight="20" href="https://en.wikipedia.org/wiki/Responsive_web_design"
                               target="_blank">AVR</a></li>
                        <li><a data-weight="20" href="https://en.wikipedia.org/wiki/Responsive_web_design"
                               target="_blank">Robotics</a></li>
                        <li><a data-weight="20" href="https://en.wikipedia.org/wiki/Responsive_web_design"
                               target="_blank">Electronics</a></li>
                        <li><a data-weight="19" href="https://en.wikipedia.org/wiki/JQuery" target="_blank">jQuery</a>
                        </li>
                        <li><a data-weight="19" href="http://mongoosejs.com/" target="_blank">Material design</a></li>
                        <li><a data-weight="19" href="https://karma-runner.github.io/1.0/index.html" target="_blank">Python</a>
                        </li>

                        <li><a data-weight="13" href="https://en.wikipedia.org/wiki/Drupal" target="_blank">Android</a>
                        </li>
                        <li><a data-weight="14" href="https://en.wikipedia.org/wiki/LAMP_(software_bundle)"
                               target="_blank">Lamp</a></li>
                        </li>
                    </ul>
                </canvas>
            </div>
            <div class="clear"></div>
        </div>

        <span class="tags top-tags"> &nbsp;&nbsp;&nbsp;&lt;body&gt;</span>
        <div class="text-zone"><h1> Skills &#038; Experience</h1>
            <p>Main area of my expertise is front end development and everything related with this side of web.
                HTML,CSS, JS (ES5,ES6), building small &amp; medium Web Apps, Angular , Vue.js, building custom plugins,
                features, animations and just coding layouts.</p>
            <p>Often I work as a full-stack develeoper &#8211; mainly in Lamp environment, PHP and open source CMS&#8217;s
                like (WordPressetc..) .</p>
            <p>I have also some experience with Android App Development.</p>
            <p>Would like to know more?<br/> Please check my <a
                    href="https://www.linkedin.com/in/santosh-dahal-155414138/" target="_blank">LinkedIn</a> profile or
                just <a href="/contact">contact</a> me.</p></div>
        <div class="clear"></div>
        <span class="tags bottom-tags"> &nbsp;&nbsp;&nbsp;&lt;/body&gt;<br/> &lt;/html&gt; </span></div>
</div>
<div id="vide"
     style="width: 100%; height: 100%; position:fixed;top:0;left:0;right:0;bottom:0;z-index:-1;opacity:0.02;"></div>
<div class="preloader">
    <div class="inner"><img src="http://suntos.com.np/wp-content/themes/jj/img/logopreload.png"
                            alt="Wordpress Developer Loader, Web Developer Loader , Front End Developer Loader"/> <span>Jack is thinking</span>
        <div class="progress-bar">
            <div class="progress-bar_bg">
                <div></div>
            </div>
        </div>
    </div>
</div>

<a class="blog-link" style="position: absolute;left: 0px;width: 100px;height: 50px;background-color: #150250;z-index: 99999 !important" href="http://suntos.com.np/wall/">

    </a>
<div id="rotate"></div>

<div id="cboxOverlay" style="display: none;"></div>
<div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
    <div id="cboxWrapper">
        <div>
            <div id="cboxTopLeft" style="float: left;"></div>
            <div id="cboxTopCenter" style="float: left;"></div>
            <div id="cboxTopRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxMiddleLeft" style="float: left;"></div>
            <div id="cboxContent" style="float: left;">
                <div id="cboxTitle" style="float: left;"></div>
                <div id="cboxCurrent" style="float: left;"></div>
                <button type="button" id="cboxPrevious"></button>
                <button type="button" id="cboxNext"></button>
                <button id="cboxSlideshow"></button>
                <div id="cboxLoadingOverlay" style="float: left;"></div>
                <div id="cboxLoadingGraphic" style="float: left;"></div>
            </div>
            <div id="cboxMiddleRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxBottomLeft" style="float: left;"></div>
            <div id="cboxBottomCenter" style="float: left;"></div>
            <div id="cboxBottomRight" style="float: left;"></div>
        </div>
    </div>
    <div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div>
</div>
</body>
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="./Views/fill_animantion_files/snap.svg-min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/blast.js"></script>
<script src="http://www.goat1000.com/jquery.tagcanvas.min.js"></script>
<script>
    $(".skills h1").blast({delimiter: "word", tag: "span"});
    $(".skills p").blast({delimiter: "word", tag: "span"});
    a = 0;
    $(".skills h1 .blast").each(function () {
        var el = $(this);
        setTimeout(function () {
            el.addClass('animated bounceIn');
        }, a);
        a = a + 80;
    });
    setTimeout(function () {
        $(".skills .blast").removeClass('animated bounceIn');
        $(".skills .blast").css('opacity', 1);
        $(".skills .blast").mouseenter(function () {
            var el = $(this);
            $(this).addClass('animated rubberBand');
            $(this).one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                el.removeClass('animated rubberBand');
            });
        });
    }, 2000);
    var textCol = '#08FDD8';
    if ($('body').hasClass('white')) {
        textCol = '#00000';
    }
    if (!$('#myCanvas').tagcanvas({
            textColour: textCol,
            outlineThickness: 0.5,
            outlineColour: '#fe0853',
            maxSpeed: 0.06,
            freezeActive: true,
            shuffleTags: true,
            shape: 'sphere',
            zoom: 1,
            noSelect: true,
            textFont: null,
            pinchZoom: true,
            freezeDecel: true,
            fadeIn: 3000,
            initial: [0.3, -0.1],
            depth: 0.8
        })) {
        $('#myCanvasContainer').hide();
    }
    setTimeout(function () {
        alertify.log(msg8);
    }, 2000);


</script>
{% endblock %}

